.App {
  text-align: center;
  color: grey;
}

body{
  background-color: #2e3c52;
  color: white;
}

a.links{
  color:gray;
}

.searchForm{
  margin: auto;
  text-align: center;
}

.logo{
  width: 50%;
  margin: auto;
  margin-top: 10em;
}

.enter{
  margin: auto;
  text-align: center;
}

.smallLogo{
  width: 70%;
  margin: auto;
}

.backText{
  margin: auto;
  text-align: center;
}
